:root {
    --profile-size: 256px;
}


.landing-bg {
    width: 100vw;
    height: calc(100vh - 50px);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.profilePicture {
    height: var(--profile-size );
    border-radius: var(--profile-size);
}

.one-line {
    display: block;
    width: 100%;
}