nav {
    position: fixed;
    top: 0px;
    
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-between;

    .nav-left {
        display: flex;
        justify-content: flex-start;
    }

    .nav-right {
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;
    }

    .navbar-item {
        margin-right: 30px;
    }

}