
nav {
    position: fixed;
    top: 0px;
    left: 0px;
    
    width: 100vw;
    min-height: 50px;
    z-index: 6000;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    .nav-left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        :first-child {
            padding-left: 30px;
        }
    }
}

.nav-drawer {
    z-index: 4000;
    transform-origin: top;
}

.nav-drawer-vis {
    transform: scaleY(1);
}

.nav-drawer-invis {
    transform: scaleY(0);
}

.nav-item {
    margin-left: 150px;
}

.nav-button {
    font-size: 4em;
    cursor: pointer;
    margin: 0;
    margin-top: -12px;
    padding: 0;
    background: none;
    border: none;  
}