@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.scroll-animate {
    opacity: 0;
    
}

.scroll-animate-active {
    animation: 1s ease-out 1 normal forwards fade-in;
    opacity: 1;
}

.visible {
    background-color: red;
}