.full-width {
    max-width: 100%;
}

.hidden {
    visibility: hidden;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}