@import "./layout.css";
@import "./theme.css";
@import "./colors.css";
@import "./spacing.css";

body {
    width: 100%;
    min-height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);

    margin: 0;

    font-family: 'Source Code Pro', monospace;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;

    font-family: 'Major Mono Display', monospace;
}

a {
    color: var(--on-);
    text-decoration: none;
}

nav a {
    color: var(--text-color);
}

nav:first-child {
    margin-right: auto;
}
