:root {
    /* Colors */
    --light-color: #1FFFC7;
    --dark-color: #00067A;

    --on-primary: var(--dark-color);
    --text-color: var(--light-color);
    --bg-color: var(--dark-color);

    /* Spacing */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
}
