:root {
    /* Colors */
    --primary-color: #8800AD;
    --light-color: #E5DCDA;
    --dark-color: #040100;

    --on-primary: var(--light-color);
    --text-color: var(--dark-color);
    --bg-color: var(--light-color);

    /* Spacing */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
}
